.nav-link,
.navbar-brand {
    color: whitesmoke;
}

.navbar-brand {
    font-weight: 600;
}

.contactlink:hover {
    cursor: pointer;
}

/* .carousel-inner .carousel-item:nth-child(2)
{
    opacity: 0.95;
} */
#carouselExampleIndicators .carousel-item img {
    height: 100vh;
    object-fit: cover;
}

/* Adjust the values as needed */

.focused {
    color: white !important;
}

@media screen and (max-width: 767px) {
    #carouselExampleIndicators .carousel-item img {
        height: 60vh;
        object-position: center;
    }
}